# Ignore the node_modules directory as dependencies will be installed during the build process
node_modules/

# Ignore the source code (src directory), as we only need the compiled code in dist/
src/

# Ignore .DS_Store files specific to macOS
.DS_Store

# Ignore .gitignore file (it's not needed in Docker image)
.gitignore

# Ignore docker-compose.yml file (used locally for development, not needed in Docker image)
docker-compose.yml

# Ignore LICENSE file (unless required in Docker image)
LICENSE

# Ignore the ormGPT.iml file (specific to your IDE, not needed in Docker image)
ormGPT.iml

# Ignore yarn.lock (if you're using npm instead of yarn)
yarn.lock

# Ignore test-related files or directories if you have them
test/
coverage/

# Ignore the temporary or unnecessary files in dist
*.log
*.md
*.tmp